{% extends 'base.html' %}
{% block title %} Kontakt {% endblock %}
{% load static %}

{% block content %}
    <form method="post" novalidate>
        {% for field in form %}
            <label>{{ field.label }}</label>
            <p>{{ field }}</p>
            {% if field.errors and request.method == 'POST' %}
                <div>{{ field.errors.0 }}</div>
            {% endif %}
        {% endfor %}
        {% csrf_token %}
        <button type="submit"> Wyślij </button>
    </form>
{% endblock %}