<footer>
    <div class="footer-container">
        <div class="company-info">
            <p>
                Firma Budowlana MATEK s.c<br>
                ul. Krótka 9<br>
                78-111 Ustronie Morskie<br>
                NIP: 671-183-58-60<br>
                REGON: 382103528
            </p>
        </div>
        <div class="nav-info">
            <ul class="nav-bar">
                <li><a href="{% url 'home' %}">O NAS</a></li>
                <li><a href="{% url 'cost_estimate' %}">WYCENA</a></li>
                <li><a href="{% url 'contact' %}">KONTAKT</a></li>
                <li><a href="{% url 'FAQ' %}">FAQ</a></li>
                <li><a href="{% url 'projects_galery' %}">GALERIA</a></li>
            </ul>
        </div>
        <div class="developer-info">
            <p> © 2025 Zaprojektowane i wykonane przez Mateusza Winiarczyka </p>
            <div class="social_icons">
                <a href="https://linkedin.com/in/mateusz-winiarczyk-947b24332">
                    <i class="fa-brands fa-linkedin"></i> LinkedIn
                </a>
                <a href="https://github.com/matwiniarczyk">
                    <i class="fa-brands fa-github"></i> Github
                </a>
            </div>
        </div>
    </div>
</footer>